.loginHeader {
    height: 100px;
    padding: 30px 0;
}

.loginFormContainer {
    width: 350px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 60px 40px;
    position: relative;
    overflow: visible !important;
}

.loginForm {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 25px;
}

.login-action-container {
    margin-top: 40px;
    width: 100%;
}

.login-message-container {
    width: 100%;
}
